body,
div,
table,
thead,
tbody,
tfoot,
th,
tr,
td,
u,
p {
    font-family: "Times New Roman";
    color: #000000;
    word-break: break-word;
    line-height: 25px;
}

.largeText {
    font-size: 14pt;
}

.mediumText {
    font-size: 13pt;
}

.smallText {
    font-size: 11pt;
}

.underline {
    border-bottom: 2px black solid;
}

body {
    margin-right: auto;
    margin-left: auto;
    width: 216mm;
    height: 279mm;
    padding-right: 8px;
    padding-left: 8px;
    text-align: -webkit-center;
}

td {
    padding: 0;
    padding-right: 4px;
    padding-left: 4px;
}

@page {
    margin: 8px;
}

@media print {
    body {
        width: 216mm;
        height: 279mm;
        margin: 0;
    }
    img {
        max-width: 100%
    }
}

.column {
    float: left;
    width: 35%;
    text-align: -webkit-center;
}

.row-right {
    width: 140%;
}